<div style="display: flex;">
  <div data-aos="fade" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-offset="0" data-aos-delay="3000">
    <jax-social-link svg="angular-colored" tooltip="Angular" path="https://angular.io/"></jax-social-link>
  </div>
  <div data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-offset="0" data-aos-delay="2300">
    <jax-social-link svg="material" tooltip="Angular Material" path="https://material.angular.io/"></jax-social-link>
  </div>
  <div data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-offset="0" data-aos-delay="2000">
    <jax-social-link svg="ng-bootstrap" tooltip="Bootstrap" path="https://ng-bootstrap.github.io/#/home"></jax-social-link>
  </div>
  <div data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-offset="0" data-aos-delay="1500">
    <jax-social-link svg="emailjs" tooltip="EmailJS" path="https://www.emailjs.com/"></jax-social-link>
  </div>
</div>