@import 'colors';

img {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 100px;
  height: auto;
}

.card-container {
  border-radius: 0.5rem;
  display: flex;
}

.image-container {
  background-color: map-get($map: $dark-palette, $key: purple-pale);
  padding: 0.25rem 0.25rem 0 0.25rem;
}

.image-container.left {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.image-container.right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.text-container {
  align-items: center;
  display: flex;
  background-color: map-get($map: $dark-palette, $key: purple);
  padding: 0.5rem;
  max-width: 400px;
}

.text-container.left {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.text-container.right {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

@media only screen and (max-width: 680px) {
  .card-container {
    flex-direction: column;
  }

  .image-container {
    text-align: center ;
    padding-bottom: 0.25rem ;
  }

  .image-container.left {
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem ;
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0 ;
  }
  
  .image-container.right {
    border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0.5rem ;
    border-bottom-left-radius: 0.5rem ;
  }

  .text-container.left {
    border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0.5rem ;
    border-bottom-left-radius: 0.5rem ;
  }
  
  .text-container.right {
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem ;
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0 ;
  }
}