@import 'colors';

img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.card-container {
  border: thin solid map-get($map: $dark-palette, $key: purple-pale);
  border-radius: 0.5rem;
  display: flex;
  font-size: 1.5rem;
  max-width: 800px;
}

.image-container {
  align-items: center;
  background-color: map-get($map: $dark-palette, $key: purple-pale);
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  // max-width: 30%;
}

.image-container.left {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.image-container.right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.text-container {
  align-items: center;
  display: flex;
  background-color: map-get($map: $dark-palette, $key: purple);
  padding: 1rem;
  line-height: 2rem;
}

.text-container.left {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.text-container.right {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

@media only screen and (max-width: 680px) {
  .card-container {
    flex-direction: column;
    max-width: 80vw;
    font-size: 1rem;
  }

  .image-container {
    text-align: center ;
    padding-bottom: 0.25rem ;
  }

  .image-container.left {
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem ;
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0 ;
  }
  
  .image-container.right {
    border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0.5rem ;
    border-bottom-left-radius: 0.5rem ;
  }

  .text-container.left {
    border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0.5rem ;
    border-bottom-left-radius: 0.5rem ;
  }
  
  .text-container.right {
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem ;
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0 ;
  }
}