@import 'colors';

.dialog-container {
  background-color: map-get($map: $dark-palette, $key: purple-dark);
  color: map-get($map: $dark-palette, $key: purple-pale);
  display: flex; 
  flex-direction: column; 
  padding: 1rem;
}

.header-container {
  align-items: center;
  border-bottom: solid;
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}