<ng-template #content>
  <div class="contact-form-container">
    <jax-input class="input" label="Name" (change)="this.formChange()" data-aos="flip-up" data-aos-duration="2000"></jax-input>
    <jax-input class="input" label="Email" (change)="this.formChange()" data-aos="flip-up" data-aos-duration="2000"></jax-input>
    <jax-textarea class="input" label="Message" (change)="this.formChange()" data-aos="flip-up" data-aos-duration="2000"></jax-textarea>
    <button class="submit-button" mat-raised-button (click)="submitForm()" [disabled]="!this.formValid()" data-aos="flip-up" data-aos-duration="2000">Send an email</button>
  </div>
  <div class="socials-container" data-aos="flip-up" data-aos-duration="2000">
    <jax-download-button [fileName]="'jaxonHoffmanResume'"
                        [label]="'Jax\'s Resume'" 
                        [path]="'/assets/files/resume.pdf'">
    </jax-download-button>
    <jax-socials></jax-socials>
  </div>
</ng-template>

<ng-template #header>
  <p data-aos="fade-up" data-aos-duration="1000" data-aos-offset="-350" class="screen-header">Get In Touch</p>
</ng-template>

<div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="-200" style="height: 100vh;">
  <jax-screen-container
    [header]="header"
    [content]="content">
  </jax-screen-container>
</div>