<ng-template #content>
  <div class="contact-form-container">
    <jax-input pAnimateOnScroll class="input animation-duration-2000" enterClass="flipup" label="Name" (change)="this.formChange()"></jax-input>
    <jax-input pAnimateOnScroll class="input animation-duration-2000" enterClass="flipup" label="Email" (change)="this.formChange()"></jax-input>
    <jax-textarea pAnimateOnScroll class="input animation-duration-2000" enterClass="flipup" label="Message" (change)="this.formChange()"></jax-textarea>
    <button pAnimateOnScroll class="submit-button animation-duration-2000" enterClass="flipup" mat-raised-button (click)="submitForm()" [disabled]="!this.formValid()">Send an email</button>
  </div>
  <div pAnimateOnScroll class="socials-container animation-duration-1000" enterClass="fadeindown">
    <jax-download-button [fileName]="'jaxonHoffmanResume'"
                        [label]="'Jax\'s Resume'" 
                        [path]="'/assets/files/resume.pdf'">
    </jax-download-button>
    <jax-socials></jax-socials>
  </div>
</ng-template>

<ng-template #header>
  <p pAnimateOnScroll class="screen-header 
            animation-duration-1000 animation-duration-500 
            animation-ease-in"
      enterClass="fadeindown" leaveClass="fadeoutup">
    Get In Touch
  </p>
</ng-template>

<div >
  <jax-screen-container
    [header]="header"
    [content]="content">
  </jax-screen-container>
</div>