<jax-dialog-container
  header="Just a Heads Up!"
  [content]="content">
</jax-dialog-container>

<ng-template #content>
  <div style="text-align: center; line-height: 1.3rem;">
    I notice you're using a mobile device to view my portfolio. Unfortunately, I am still working on optimizing some parts of the user experience for the mobile environment. I apologize for the inconvenience, but some pages will have trouble loading. Please use a desktop for the best viewing experience.
  </div>
</ng-template>