$light-palette: (
  brown-grey: #8F8686,

);

$dark-palette: (
  purple: #54515D,
  purple-pale: #8F8686,
  purple-dark: #2A232D,
  blue: #28303F,
  blue-pale: #5F6B75,
  blue-dark: #1B2939,
  tan: #F6C9A8,
  tan-pale: #FBE5C4,
  grey: #9FA2A1
);