$primary-a0:  #ffffff;
$primary-a10:  #e7e3ea;
$primary-a20:  #cfc7d5;
$primary-a30:  #b7adc1;
$primary-a40:  #a092ad;
$primary-a50:  #897999;
$primary-a60:  #6c6078;
$primary-a70:  #514859;
$primary-a80:  #37313c;
$primary-a90:  #1e1c21;