@import 'colors';

.landing-container {
  background-attachment: fixed;
  background-image: url(./../../../assets/images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 75%;
}

.landing-content-container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.landing-text-container {
  background-color: rgba(map-get($dark-palette, purple-pale), 0.75);
  border-radius: 0.5rem;
  padding: 0.75rem;
  text-align: center;

  button {
    background-color: #fddfbc;
  }
}

.to-portfolio-button {
  align-items: center;
  display: flex;

  mat-icon {
    margin-left: 0.25rem;
  }
}