<div class="landing-container">
  <div class="landing-content-container">
    <div></div>
    <div class="section-container" data-aos="zoom-in" data-aos-duration="2000">
      <div class="landing-text-container">
        <h1>Hey, welcome to Jax's portfolio</h1>
        <button mat-raised-button (click)="enterPortfolio()" data-aos="flip-up" data-aos-duration="2000" data-aos-delay="500">
          <div class="to-portfolio-button">
            Get To Know Me 
            <mat-icon>exit_to_app</mat-icon>
          </div>
        </button>
      </div>
    </div>
    <div class="section-container footer" data-aos="zoom-in" data-aos-duration="2000" data-aos-offset="0" data-aos-delay="1000">
      <div class="tech-stack-container">
        <div class="stack-header-text">Powered By</div>
        <jax-tech-stack></jax-tech-stack>
      </div>
    </div>
  </div>
</div>
