<div class="landing-container">
  <div class="landing-content-container">
    <div></div>
    <div pAnimateOnScroll class="section-container 
                              animation-duration-2000 animation-ease-in" 
                              enterClass="fadein" leaveClass="zoomout">
      <div class="landing-text-container">
        <h1>Hey, welcome to Jax's portfolio</h1>
        <button mat-raised-button (click)="enterPortfolio()">
          <div class="to-portfolio-button">
            Get To Know Me 
            <mat-icon>exit_to_app</mat-icon>
          </div>
        </button>
      </div>
    </div>
    <div pAnimateOnScroll class="section-container footer 
                              animation-duration-2000 animation-ease-in 
                              animation-delay-100 animation-fill-backwards" 
                              enterClass="zoomin" leaveClass="fadeup">
      <div class="tech-stack-container">
        <div class="stack-header-text">Powered By</div>
        <jax-tech-stack></jax-tech-stack>
      </div>
    </div>
  </div>
</div>

