<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="over">
    <jax-portfolio-drawer (drawer)="drawer"></jax-portfolio-drawer>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar>
      <button mat-icon-button class="menu-button" [hidden]="drawer.opened" (click)="drawer.toggle()">
        <mat-icon class="icon-l">menu</mat-icon>
      </button>
      <span class="application-name">JaxsPortfolio</span>
    </mat-toolbar>
    <div class="content-container" (click)="this.closeDrawer()">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>