@import 'colors';

.application-name {
  font-size: 1.75rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  align-items: stretch;
  height: 100%;
}

.drawer-container {
  height: 100%;
  background-color: map-get($map: $dark-palette, $key: purple);
}

.drawer-sidenav-content {
  background-color: map-get($map: $dark-palette, $key: purple-dark);;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-sidenav {
  background-color: map-get($map: $dark-palette, $key: purple);
  padding: 0.5rem;
}

.icon-l {
  color: map-get($map: $dark-palette, $key: purple-dark);
}

.menu-button {
  margin: 0 1rem 0 0;
}