<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="over">
    <jax-portfolio-drawer (drawer)="drawer"></jax-portfolio-drawer>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar>
      <button mat-icon-button class="menu-button" [hidden]="drawer.opened" (click)="drawer.toggle()">
        <mat-icon class="icon-l">menu</mat-icon>
      </button>
      <span class="application-name" (click)="this.goToLanding()">JaxsPortfolio</span>
    </mat-toolbar>
    <div class="content-container" (click)="this.closeDrawer()">
      <div id='about' style="scroll-snap-align: start; scroll-margin-top: 10vh;">
        <jax-about-screen></jax-about-screen>
      </div>
      <div id='professional' style="scroll-snap-align: start; scroll-margin-top: 10vh;">
        <jax-professional-screen></jax-professional-screen>
      </div>
      <div id='personal' style="scroll-snap-align: start; scroll-margin-top: 10vh;">
        <jax-personal-screen pAnimateOnScroll class="animation-duration-1000 animation-ease-in"
                            enterClass="fadein" leaveClass="fadeoutup"></jax-personal-screen>
      </div>
      <div id='touch' style="scroll-snap-align: start;">
        <jax-touch-screen></jax-touch-screen>
      </div>
    </div>
  </div>
</mat-drawer-container>