/* You can add global styles to this file, and also import other style files */
@import 'colors';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100vh; overflow: hidden;}

.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

jax-icon-button {
  display: contents;
}

mat-drawer-content {
  overflow: hidden !important;
}

