@import 'colors';

a {
  color: map-get($map: $dark-palette, $key: purple);
  font-weight: bold;
  margin-left: 0.25rem;
  text-decoration: none;
}

a:hover {
  color: map-get($map: $dark-palette, $key: purple-dark);
}

jax-icon-link {
  width: 100%;
}

.description-container {
  display: flex;
  font-size: 1.2rem;
  line-height: 1.5rem;
  
  .application-description {
    flex: 0.75;
    padding: 0 0.5rem;
  }

  .application-links-container {
    align-items: center; 
    display: flex; 
    flex: 0.25;
    flex-direction: column; 
    justify-content: center; 
  }
}

.jax-application-container {
  background-color: map-get($map: $dark-palette, $key: purple-pale);
  border-radius: 0.5rem;
  color: map-get($map: $dark-palette, $key: purple-dark);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 80vw;
  padding: 1rem 3rem;
}

.preview-container {
  align-items: center; 
  display: flex; 
  flex-direction: column;
  font-size: 2rem;

  img {
    border-radius: 0.5rem; 
    cursor: pointer;
    margin: 1rem 0; 
    width: 75%;
  }

  img:hover {
    opacity: 0.75;
  }
}

@media only screen and (max-width: 800px) {
  .description-container {
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.25rem;

    .application-description {
      text-align: center;
    }
  }
  
  .jax-application-container {
    padding: 1rem;
  }

  .preview-container {
    img {
      width: 90%;
    }
  }
}