  <div class="jax-application-container">
    <div class="preview-container">
      {{application.projectName}}
      <img [src]="this.getImgUrl()" (click)="openInNewTab()"/>
    </div>
    <div class="description-container">
      <div class="application-description" [innerHTML]="this.application.description"></div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="application-links-container">
        <jax-icon-link [href]="this.application.projectUrl"
                      iconSVG="link"
                      label="Take Me There">
        </jax-icon-link>
        <jax-icon-link [href]="this.application.githubUrl"
                      iconSVG="github"
                      label="GitHub URL">
        </jax-icon-link>
      </div>
    </div>
  </div>